<!-- 左にユーザインフォ、右にユーザが投稿したものの一覧 -->

<div class="container">
 <div class="row">

<div class="col-lg-4">
<%= render 'users/userinfo2', user: current_user %>
<%= render 'books/record', book: @book %>
</div>
<div class="col-lg-8">

<h2>Users</h2>
<table class="table table-hover">
 <tr>
　<th>Image</th>
　<th>Name</th>
　<th colspan="3"></th>
</tr>

<% @users.each do |user| %>
<!-- |ブロック変数|に合わせる -->
<tr>
 <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg",size:'40x40' %>
    </td>
　　<td><span><%= user.name %></span></td>
　　<td><%= link_to "Show", user_path(user.id) %></td>
<% end %>
　</tr>
</table>

</div>

 </div>
</div>
