<div class="container">
 <div class="row">

<!-- @userではなく、current_userログインしているユーザを表示 -->
	<!-- ４カラムのサイドバー -->
<div class="col-lg-4">
 <%= render 'books/userinfo1', user: current_user %>
<!-- view/books/_record.html.erdの部分テンプレートを使用 -->
 <%= render 'books/record', book: @book %>
	   </div>
	<!-- <table class="table table-striped"> -->

	  <div class="col-lg-8">
	      <h2>Books</h2>
		<table class="table table-hover">
		　<tr>
		　　<th>Title</th>
		　　<th>Body</th>
		　　<th colspan="3"></th>
		　</tr>
	<!-- @books.eachでbooksのレコードの数だけ繰り返し、
	book.titleで記事の数だけ繰り返す
	 -->
			<% @books.each do |book| %>
			<!-- |ブロック変数|に合わせる -->
			　<tr>
			　　<td><span><%= book.title %></span></td>
			　　<td><span><%= book.body %></span></td>
				　　<td><%= link_to "Show", book_path(book.id) %></td>

				<% if book.user == current_user %>
				　　<td><%= link_to "Edit", edit_book_path(book.id) %></td>
				　　<td><%= link_to "Destroy", book_path(book.id), method: :delete, data:{confirm: "Can I delete it？"} %></td>
				<% else %>
					<td></td>
					<td></td>
				<% end %>
			　</tr>
			<% end %>
		</table>


	<br>
	<br>

	</div>

 </div>
</div>